#filters{
  display:flex;
  align-items: center;
  justify-content:space-between;
}

.left-filter{
  display:flex;
  width:73%;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
  flex-wrap:nowrap;
  align-items: center;
  user-select: none;
}
.left-filter::-webkit-scrollbar {
  display: none;
}
.left-filter.active {
  background: rgba(255, 255, 255, 0.3);
  cursor:grabbing;
}
.filter-box{
  display: flex;
}

.filter-box .filter{
  cursor: pointer;
  white-space: nowrap;
  scroll-behavior: smooth;
  text-align: center;
  margin-right: 1.5rem;
  margin-top: 1rem;
  opacity: 0.7;
  align-items: center;
}
.filter-box  .filter:hover{
  opacity: 1;
  cursor:pointer;
}
.filter-box .filter::after{
  content: '';
  display: block;
  height: 3px;
  transform-origin: left;
  width: 100%;
  background-color: black;
  transform: scale(0);
  transition: transform  0.3s ease;
}
.filter:hover::after{
  transform:scale(1);
}

.filter p{
  font-size: 0.8rem;
}


/* ======================= Tax Toggler ========== */
.tax-info{
  display: none;
}
.tax-toggle{
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 1rem;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.tax-toggle input{
  cursor: pointer;
  border: 1px solid gray;
}
.tax-toggle input:checked  {
  background-color: #fe424d;
  box-shadow:none ;
}
